@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #efefef;
  font-family: 'Karla', sans-serif;
}

/* Title and Nav Bar */

.title {
  text-align: center;
  color: #303036;
  background-color: #fd5e53;
  text-shadow: -1.6px 0 #1fb6ec, 0 1.6px #1fb6ec, 1.6px 0 #1fb6ec,
    0 -1.6px #1fb6ec;
  letter-spacing: 1px;
}

.nav {
  background-color: #1fb6ec;
  font-size: 20px;
  color: #f7fff7;
  text-align: center;
  height: 4vh;
  letter-spacing: 0.5px;
  padding-top: 0.3rem;
}

.logo {
  height: 6.5rem;
  width: 23rem;
  padding-right: 2.5rem;
}

.navLink {
  text-decoration: none;
}

.navLink:link {
  color: #f7fff7;
}

.navLink:visited {
  color: #f7fff7;
}

.navLink:hover {
  color: #fd5e53;
  font-weight: bold;
  background-color: #f7fff7;
  font-size: 22px;
  margin-bottom: 0.5rem;
}
