@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #efefef;
  font-family: 'Karla', sans-serif;
}

/* Title and Nav Bar */

.navBar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.title {
  text-align: center;
  color: #303036;
  background-color: #fd5e53;
  letter-spacing: 1px;
}

.nav {
  background-color: #1fb6ec;
  font-size: 20px;
  color: #f7fff7;
  text-align: center;
  height: 4vh;
  letter-spacing: 0.5px;
  padding-top: 0.3rem;
}

.logo {
  height: 6.5rem;
  width: 23rem;
  padding-right: 2.5rem;
}

.navLink {
  text-decoration: none;
}

.navLink:link {
  color: #f7fff7;
}

.navLink:visited {
  color: #f7fff7;
}

.navLink:hover {
  color: #fd5e53;
  font-weight: bold;
  background-color: #f7fff7;
  margin-bottom: 0.5rem;
}

/* Home Page */
.map {
  margin-left: 15vw;
  margin-top: 10rem;
  margin-right: 14.4vw;
  border: 3px solid black;
}

.markerBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.markerBtn img {
  width: 15px;
  height: 24px;
}

.list {
  text-align: center;
  list-style: none;
  margin-right: 5rem;
  margin-left: 2 rem;
}

.list > li {
  border: 1px solid black;
}

/* Registration Page */

.register {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.inputField {
  margin: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 14px;
  border-radius: 4px;
}

.select {
  font-size: 16px;
}

.textArea {
  width: 18rem;
  height: 5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.submitButton {
  margin: 1rem;
}

/* Form Buttons */

.div {
  height: 100%;
}
.div {
  text-align: center;
}
.div:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.updateButton {
  background: #1fb6ec;
  color: #fff;
  border: none;
  position: relative;
  height: 32px;
  font-size: 1.4em;
  padding: 0 0.8em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.updateButton:hover {
  background: #fff;
  color: #1fb6ec;
}
.updateButton:before,
.updateButton:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1fb6ec;
  transition: 400ms ease all;
}
.updateButton:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.updateButton:hover:before,
.updateButton:hover:after {
  width: 100%;
  transition: 1200ms ease all;
}
